body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #ffde22;
}

.sidebar {
  background-color: #ff7755;
}

.nav {
  background-color: #00ddff;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
}

/* .container {
  display: grid;
  grid-template: repeat(4, 1fr), repeat(7, 1fr);
  grid-template-areas:
    "header header header header"
    "sidebar nav nav nav"
    "sidebar article article article"
    "sidebar article article article"
    "sidebar article article article"
    "sidebar article article article"
    "footer footer footer footer";

  gap: 15px;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.nav {
  grid-area: nav;
}

.article {
  grid-area: article;
  overflow: auto;
}

.footer {
  grid-area: footer;
} */

.container {
  display: grid;
  grid-template: 1fr 1fr 6fr 1fr / 1fr 2fr;
  grid-template-areas:
    "header header"
    "sidebar nav"
    "sidebar article"
    "footer footer";

  gap: 15px;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.nav {
  grid-area: nav;
}

.article {
  grid-area: article;
}

.footer {
  grid-area: footer;
}
